<div class="stepper">
  <a href="/users">Home</a> |
  <a href="/users/{{userId}}">Profile</a> |
  <a href="/users/{{userId}}/stores">Stores</a> |
  <a href="/users/{{userId}}/stores/{{store._id}}">{{store.name}}</a> / New Gift
</div>
<div class="card">
  <form action="/users/{{userId}}/stores/{{store._id}}/gifts" method="POST">
    <h2>New Gift</h2>
    <div class="form-input">
      <label for="title">Title</label>
      <input type="text" name="title">
    </div>
    <div class="form-input">
      <label for="description">Description</label>
      <input type="text" name="description">
    </div>
    <div class="form-input">
      <label for="price">Price</label>
      <input type="number" name="price">
    </div>
    <div class="form-input">
      <label for="cameFrom">Came from:</label>
      <input type="text" name="cameFrom">
    </div>
    <div class="button-container flex-end">
        <input class="button primary" type="submit" value="Create Gift">
        <a href="/users/{{userId}}/stores/{{store._id}}" class="button warning">Cancel</a>
      </div>
  </form>
</div>